* {
    box-sizing: border-box;
    font-family: 'PT Sans Caption', sans-serif;
}

a {
    text-decoration: none;
}

table {
    border-collapse: collapse;
}

tr:nth-child(even) {
    background: #e1e4e8
}

tr:nth-child(odd) {
    background: #fafbfc
}

.main-table {
    text-align: left;
    margin: 0;
}

.crud-form {
    display: flex;
}

.add-btn {
    width: 10em;
}

.save {

}